<% let isActiveClass = function (menu) { return menu === activeMenu ? 'is-active' : '' } %>

<aside id="main-sidebar" class="aside">
  <nav class="menu active-menu--<%= activeMenu %>">
    <p class="menu-label">Your Motgage</p>
    <ul class="menu-list">
      <li>
        <a class="<%= isActiveClass('home') %>" href="<%= data.config.publicPath %>/">
          <span class="icon is-small"><i class="fas fa-tachometer-alt"></i></span> <span class="menu-text">Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Cases</p>
    <ul class="menu-list">
      <li>
        <a class="<%= isActiveClass('forms') %>" href="<%= data.config.publicPath %>/forms/">
          <span class="icon is-small"><i class="fas fa-user-plus"></i></span> <span class="menu-text">Add New Case</span>
        </a>
      </li>
      <li>
        <a class="<%= isActiveClass('case') %>" href="<%= data.config.publicPath %>/case/">
          <span class="icon is-small"><i class="fas fa-clipboard-list"></i></span> <span class="menu-text">All Cases</span>
        </a>
      </li>
      <li>
        <a class="<%= isActiveClass('tables') %>" href="<%= data.config.publicPath %>/tables/">
          <span class="icon is-small"><i class="fas fa-chart-line"></i></span> <span class="menu-text">Reports</span>
        </a>
      </li>
      <li>
        <a class="">
          <span class="icon is-small"><i class="fa fa-cogs"></i></span> <span class="menu-text">Settings</span>
          </a>
      </li>
    </ul>

    <p class="menu-label">Admin</p>
    <ul class="menu-list">
      <li>
        <a class="<%= isActiveClass('extras') %>" href="<%= data.config.publicPath %>/extras/">
          <span class="icon is-small"><i class="fas fa-user"></i></span> <span class="menu-text">Users</span>
        </a>
      </li>
      <li>
        <a class="">
          <span class="icon is-small"><i class="fas fa-bell"></i></span> <span class="menu-text">Notification</span>
        </a>
      </li>
    </ul>

    <div class="ads-square">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-format="fluid"
        data-ad-layout-key="-gw-3+1f-3d+2z"
        data-ad-client="ca-pub-5442972248172818"
        data-ad-slot="9533807764"
      ></ins>
      <script>
        ;(adsbygoogle = window.adsbygoogle || []).push({})
      </script>
    </div>
  </nav>

  <div id="sidebar-toggler">
    <span class="icon is-small"><i class="fa fa-angle-double-left"></i></span>
  </div>
</aside>
